<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container mt-3">
  <h2>Cadastrar Clientes</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3 mt-3">
      <label for="nome">Nome:</label>
      <input type="nome" class="form-control" id="nome" required [(ngModel)]="cliente.nome"
       name="nome">
    </div>
    <div class="mb-3 mt-3">
      <label for="idade">Idade:</label>
      <input type="idade" class="form-control" id="idade" required [(ngModel)]="cliente.idade" name="idade">
    </div>
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="cliente.enderecoEmail" name="email">
    </div>
    <div class="mb-3">
      <label for="numeroConta">Numero Conta:</label>
      <input type="numeroConta" class="form-control" id="numeroConta" required [(ngModel)]="cliente.numeroConta"name="numeroConta">
    </div>

    <button type="submit"  class="btn btn-primary">Cadastrar</button>
  </form>
</div>
<br/>
<app-footer></app-footer>
</body>
</html>
