<h3 class="text-center">Detalhes Cliente</h3>
<div class="form-container d-flex justify-content-center">
  <div class="col-md-4">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" class="form-control text-center" id="id" [value]="cliente.id" readonly>
    </div>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control text-center" id="nome" [value]="cliente.nome" readonly>
    </div>
    <div class="form-group">
      <label for="idade">Idade</label>
      <input type="text" class="form-control text-center" id="idade" [value]="cliente.idade" readonly>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control text-center" id="email" [value]="cliente.enderecoEmail" readonly>
    </div>
    <div class="form-group">
      <label for="numeroConta">Numero Conta</label>
      <input type="text" class="form-control text-center" id="numeroConta" [value]="cliente.numeroConta" readonly>
    </div>
    <br/>
    <button (click)="list()" class="btn btn-primary w-100">Voltar para Lista Cliente</button>
  </div>
</div>
<br/>

<app-footer></app-footer>
